body {
  font-family: 'Source Sans Pro', 'Trebuchet MS', 'Lucida Grande', 'Bitstream Vera Sans', 'Helvetica Neue', sans-serif;
}

.page-header small {
  margin-left: 20px;
}

label {
  display: block;
}

select {
  margin-bottom: 20px;
}

.filters {
  display: flex;
  flex-direction: row;
}

.filter + .filter {
  margin-left: 20px;
}

.alert-danger {
  margin-top: 20px;
  text-align: center;
}

.alert-danger h2 {
  margin: 0;
}
